.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
}

.container img {
  width: 80px;
}

.container title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
}

.author {
  color: gray;
}
